.button {
  margin: 10px;
}

.img {
  width: 300px;
}
.info {
  display: flex;
  padding: 10px;
  border-bottom: solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.img_block {
  display: flex;
  justify-content: left;
}

.text_block {
  display: block;
  margin-left: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
}
