.cast_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actor_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.actor_image {
  width: 130px;
  border-radius: 5px;
}

.actor_name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.actor_character {
  font-size: 14px;
  font-style: italic;
  margin: 0;
}
